
.full_image_container_third {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    background-image: url('../images/toa-heftiba-DQKerTsQwi0-unsplash_full.jpg');
    background-size: cover;
    padding: 0px;
    display: flex;
  
    }