
.full_image_container_second {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    background-image: url('../images/stil-u2Lp8tXIcjw-unsplash-full.jpg');
    background-size: cover;
    padding: 0px;
    display: flex;
  
    }

    
