
.full_image_container_four {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    background-image: url('../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash_full.jpg');
    background-size: cover;
    padding: 0px;
    display: flex;
  
    }